{% extends 'base.html.twig' %}
{% block header %}{% endblock %}
{% block pagetop %}
    <!-- Start Home Page Slider -->
    <section id="page-top">
        <!-- Carousel -->
        <div id="main-slide" class="carousel slide" data-ride="carousel">



            <!-- Carousel inner -->
            <div class="carousel-inner">
                <div class="item active">
                    <img class="img-responsive" src="{{ asset('images/header-bg-1.jpg') }}" alt="slider">
                    <div class="slider-content">
                        <div class="col-md-12 text-center">
                            <h1 class="animated3">
                                <span><strong>Authentication</strong> Page</span>
                            </h1>
                            <p class="animated2">
                                Please login to access  <br> the features of the site </p>

                        </div>
                    </div>
                </div>
                <!--/ Carousel item end -->




            </div>
            <!-- Carousel inner end-->


        </div>
        <!-- /carousel -->
    </section>
    <!-- End Home Page Slider -->




{% endblock %}

{% block feature %}
    <!-- Start Feature Section -->
    <section id="feature" class="feature-section">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="feature">
                        <i class="fa fa-magic"></i>
                        <div class="feature-content">
                            </div>
                    </div>
                </div><!-- /.col-md-3 -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="feature">
                        <i class="fa fa-gift"></i>
                        <div class="feature-content">
                            </div>
                    </div>
                </div><!-- /.col-md-3 -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="feature">
                        <i class="fa fa-wordpress"></i>
                        <div class="feature-content">
                           </div>
                    </div>
                </div><!-- /.col-md-3 -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="feature">
                        <i class="fa fa-plug"></i>
                        <div class="feature-content">
                            </div>
                    </div>
                </div>
            </div><!-- /.row -->

        </div><!-- /.container -->
    </section>
    <!-- End Feature Section -->
{% endblock %}
{% block calltoaction %}{% endblock %}
{% block portfolio %}{% endblock %}
{% block modal %}{% endblock %}
{% block about %}{% endblock %}
{% block about2 %}{% endblock %}
{% block service %}{% endblock %}
{% block funfacts %}{% endblock %}
{% block latest %}{% endblock %}
{% block partner %}{% endblock %}
{% block team %}{% endblock %}
{% block contact %}{% endblock %}