{% extends "base.html.twig" %}

{% block title %}Mise à jour du stand{% endblock %}
{% block header %}{% endblock %}
{% block pagetop %}
    <!-- Start Home Page Slider -->
    <section id="page-top">
        <!-- Carousel -->
        <div id="main-slide" class="carousel slide" data-ride="carousel">



            <!-- Carousel inner -->
            <div class="carousel-inner">
                <div class="item active">
                    <img class="img-responsive" src="{{ asset('images/header-bg-1.jpg') }}" alt="slider">
                    <div class="slider-content">
                        <div class="col-md-12 text-center">
                            <h1 class="animated3">
                                <span><strong>Update Stand</strong> Page</span>
                            </h1>
                            <p class="animated2">
                                Please change informations   <br> about  this stand </p>

                        </div>
                    </div>
                </div>
                <!--/ Carousel item end -->




            </div>
            <!-- Carousel inner end-->


        </div>
        <!-- /carousel -->
    </section>
    <!-- End Home Page Slider -->




{% endblock %}
{% block feature %}
    {{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}
    {{ form_rest(form) }}
{% endblock %}


{% block calltoaction %}{% endblock %}
{% block portfolio %}{% endblock %}
{% block modal %}{% endblock %}
{% block about %}{% endblock %}
{% block about2 %}{% endblock %}
{% block service %}{% endblock %}
{% block funfacts %}{% endblock %}
{% block latest %}{% endblock %}
{% block partner %}{% endblock %}
{% block team %}{% endblock %}
{% block contact %}{% endblock %}
